.footer-banniere {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 170px;
   background: black;
   color: white;
   text-align: center;
   flex-direction: column;
   gap: 10px;
}

.footer-logo {
   margin-top: 30px;
   height: 39px;
}

.footer-texte {
   font-size: 20px;
   margin-bottom: 0;
}

@media (max-width: 768px) {
   .footer-banniere {
      padding-top: 20px;
      padding-bottom: 50px;
      height: auto;
   }

   .footer-texte {
      font-size: 14px;
      width: 30%;
      line-height: 1.5;
      white-space: normal;
   }
}
