.Header-containeur {
   display: flex;
   margin-right: 150px;
   justify-content: space-between;
   padding: 10px 25px 10px 170px;
}

.Header-logo {
   height: 68px;
}

.Header-liens {
   display: flex;
   gap: 60px;
   margin-top: 15px;
}

.liens {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 28px;
   text-align: right;
   color: black;
   display: flex;
   gap: 20px;
}

.active {
   text-decoration: underline;
   color: black;
}

@media (max-width: 768px) {
   .Header-containeur {
      padding: 10px 20px 0 10px;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
   }

   .Header-logo {
      height: 40px;
   }

   .Header-liens {
      gap: 20px;
   }

   .liens {
      font-size: 18px;
   }
}
