.banniere {
   display: flex;
   align-items: center;
   width: 82%;
   height: 230px;
   margin: 30px auto;
   margin-bottom: 40px;
   position: relative;
}

.banniere-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(70%);
   border-radius: 12px;
   opacity: 0.7;
}

.banniere-texte {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 48px;
   font-weight: bold;
   text-align: center;
   font-weight: 700;
}

@media (max-width: 768px) {
   .banniere {
      width: 97%;
      height: 120px;
      margin-bottom: 10px;
   }

   .banniere-texte {
      font-size: 20px;
      text-align: left;
      max-width: 80%;
   }
}
