.collapse {
   margin: 0px auto;
   width: 60%;
   font-family: 'Montserrat', sans-serif;
}

.collapse-titre {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   margin-bottom: 0px;
   padding: 15px 20px;
   font-weight: bold;
   font-size: 20px;
   color: white;
   width: 100%;
   box-sizing: border-box;
   background-color: #ff6060;
   border-radius: 5px;
}

.collapse-body {
   padding: 0 20px;
   transition: 0.4s ease-in-out;
   margin-top: 0px;
   overflow: hidden;
   max-height: 0;
   margin-bottom: 30px;
}

.collapse-body p {
   color: black;
}

.collapse-liste {
   color: black;
}

.collapse-body-open {
   max-height: 500px;
   margin-top: 0px;
   margin-bottom: 20px;
   max-height: 500px;
   background-color: #f6f6f6;
   border-radius: 10px;
   padding: 15px 20px;
}

.arrow {
   font-size: 20px;
   transition: transform 0.4s ease;
   cursor: pointer;
}

.arrow-rotation {
   transform: rotate(180deg);
   transition: 0.4s ease-in-out;
}

.collapse-appart {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   gap: 95px;
   justify-content: center;
}

.collapse-appart .collapse {
   width: 100%;
   margin-bottom: 0px;
   margin-top: 0px;
}

.collapse-description {
   flex: 1;
   max-width: 710px;
   margin-bottom: 20px;
}

.collapse-equipement {
   flex: 1;
   max-width: 710px;
}

@media (max-width: 768px) {
   .collapse {
      width: 97%;
      margin: 20px auto 25px;
   }

   .collapse-body {
      margin-bottom: 0px;
      margin-top: 0;
   }

   .collapse-titre {
      font-size: 15px;
      margin: 0;
      height: 35px;
   }

   .arrow {
      width: 20px;
   }

   .collapse-appart {
      flex-direction: column;
      align-items: center;
      gap: 25px;
   }

   .collapse-appart .collapse-description {
      width: 100%;
      margin-bottom: 0;
   }
   .collapse-appart .collapse-equipement {
      width: 100%;
      margin-bottom: 30px;
   }
}
