.collapse {
   margin: 10px auto;
   width: 60%;
   font-family: 'Montserrat', sans-serif;
}

.collapse-titre {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   margin-bottom: 30px;
   padding: 15px 20px;
   font-weight: bold;
   font-size: 20px;
   color: white;
   width: 100%;
   box-sizing: border-box;
   background-color: #ff6060;
   border-radius: 5px;
}

.collapse-body {
   opacity: 0;
   transition: 0.4s ease-in-out;
   margin-top: -50px;
}

.collapse-body-open {
   opacity: 1;
   margin-top: 0;
}

.arrow {
   font-size: 20px;
   transition: transform 0.4s ease;
   cursor: pointer;
}

.arrow-rotation {
   transform: rotate(180deg);
   transition: 0.4s ease-in-out;
}

.collapse-appart {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   gap: 95px;
   justify-content: center;
}

.collapse-appart .collapse {
   width: 100%;
   margin-bottom: 0px;
   margin-top: 0px;
}

.collapse-description {
   flex: 1;
   max-width: 710px;
}

.collapse-equipement {
   flex: 1;
   max-width: 710px;
}

@media (max-width: 768px) {
   .collapse {
      width: 97%;
      margin-top: 30px;
      height: 34px;
      margin: 20px auto;
   }

   .collapse-titre {
      font-size: 15px;
   }

   .arrow {
      width: 20px;
   }
}
