.host-container {
   display: flex;
   align-items: center;
   width: auto;
   margin-right: 170px;
   align-items: center;
   gap: 10px;
   min-width: 160px;
}

.host-container p {
   font-size: 20px;
   text-align: right;
   margin-right: 12px;
   max-width: 150px;
   color: #ff6060;
   max-width: 80px;
   margin-top: 10px;
   margin-bottom: 5px;
}

.host-container img {
   width: 65px;
   height: 65px;
   border-radius: 50%;
   object-fit: cover;
   border: 1px solid #d1d5db;
}

@media (max-width: 768px) {
   .host-container {
      margin-left: 60px;
   }

   .host-container p {
      font-size: 16px;
      margin-right: 15px;
      max-width: 100px;
   }

   .host-container img {
      width: 50px;
      height: 50px;
      max-width: 100%;
   }
}
