.host-container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
   margin-right: 80px;
}

.host-container p {
   font-size: 14px;
   text-align: right;
   margin-right: 12px;
}

.host-container img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
   border: 1px solid #d1d5db;
}
